# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.xml
/cmake-build-debug
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-9d8e8d8fe7ac69ac1150.json
.idea/editor.xml
.idea/vcs.xml
cmake-build-debug/.cmake/api/v1/reply/cache-v2-00883fc7ab81bfb67b6a.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-9d8e8d8fe7ac69ac1150.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-bc5bdb5c52cff07f3a24.json
cmake-build-debug/.cmake/api/v1/reply/index-2025-02-04T10-38-07-0508.json
cmake-build-debug/.cmake/api/v1/reply/target-glfw-Debug-048498e86bffe41ad99a.json
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CPackConfig.cmake
cmake-build-debug/CPackSourceConfig.cmake
